<%- include( 'templates/_header', { page: 'top' } ) %>

<main class="l-wrapper">
  <div class="main-wrapper">
    <div class="primary-wrapper">

      <%- include( 'templates/_breadcrumb' ) %>

      <div class="articles-list">
        <div class="articles-list__heading main-contents__heading">
          <h1 class="articles-list__heading--ja main-contents__heading--ja">"記憶に残る体験"の記事一覧</h1>
          <span class="articles-list__heading--en main-contents__heading--en">ARTICLES LIST</span>
        </div>
        <!-- 10記事ずつ表示する -->
        <div class="articles-list__list">
          <div class="articles-card">
            <a class="articles-card__image__link" href=""><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
            <div class="articles-card__caption">
              <time class="articles-card__caption__date">2019.01.01</time>
              <a class="articles-card__caption__title__link" href="">
                <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
              </a>
            </div>
            <div class="articles-card__category">
              <a class="articles-card__category__link" href="">記憶に残る体験</a>
            </div>
            <div class="articles-card__author">
              <a class="articles-card__author__link" href="">
                <div class="articles-card__author__group">
                  <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                  <span class="articles-card__author__name">小宮 大輔</span>
                </div>
              </a>
            </div>
          </div>
          <div class="articles-card">
            <a class="articles-card__image__link" href=""><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
            <div class="articles-card__caption">
              <time class="articles-card__caption__date">2019.01.01</time>
              <a class="articles-card__caption__title__link" href="">
                <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
              </a>
            </div>
            <div class="articles-card__category">
              <a class="articles-card__category__link" href="">記憶に残る体験</a>
            </div>
            <div class="articles-card__author">
              <a class="articles-card__author__link" href="">
                <div class="articles-card__author__group">
                  <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                  <span class="articles-card__author__name">小宮 大輔</span>
                </div>
              </a>
            </div>
          </div>
          <div class="articles-card">
            <a class="articles-card__image__link" href=""><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
            <div class="articles-card__caption">
              <time class="articles-card__caption__date">2019.01.01</time>
              <a class="articles-card__caption__title__link" href="">
                <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
              </a>
            </div>
            <div class="articles-card__category">
              <a class="articles-card__category__link" href="">記憶に残る体験</a>
            </div>
            <div class="articles-card__author">
              <a class="articles-card__author__link" href="">
                <div class="articles-card__author__group">
                  <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                  <span class="articles-card__author__name">小宮 大輔</span>
                </div>
              </a>
            </div>
          </div>
          <div class="articles-card">
            <a class="articles-card__image__link" href=""><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
            <div class="articles-card__caption">
              <time class="articles-card__caption__date">2019.01.01</time>
              <a class="articles-card__caption__title__link" href="">
                <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
              </a>
            </div>
            <div class="articles-card__category">
              <a class="articles-card__category__link" href="">記憶に残る体験</a>
            </div>
            <div class="articles-card__author">
              <a class="articles-card__author__link" href="">
                <div class="articles-card__author__group">
                  <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                  <span class="articles-card__author__name">小宮 大輔</span>
                </div>
              </a>
            </div>
          </div>
          <div class="articles-card">
            <a class="articles-card__image__link" href=""><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
            <div class="articles-card__caption">
              <time class="articles-card__caption__date">2019.01.01</time>
              <a class="articles-card__caption__title__link" href="">
                <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
              </a>
            </div>
            <div class="articles-card__category">
              <a class="articles-card__category__link" href="">記憶に残る体験</a>
            </div>
            <div class="articles-card__author">
              <a class="articles-card__author__link" href="">
                <div class="articles-card__author__group">
                  <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                  <span class="articles-card__author__name">小宮 大輔</span>
                </div>
              </a>
            </div>
          </div>
          <div class="articles-card">
            <a class="articles-card__image__link" href=""><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
            <div class="articles-card__caption">
              <time class="articles-card__caption__date">2019.01.01</time>
              <a class="articles-card__caption__title__link" href="">
                <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
              </a>
            </div>
            <div class="articles-card__category">
              <a class="articles-card__category__link" href="">記憶に残る体験</a>
            </div>
            <div class="articles-card__author">
              <a class="articles-card__author__link" href="">
                <div class="articles-card__author__group">
                  <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                  <span class="articles-card__author__name">小宮 大輔</span>
                </div>
              </a>
            </div>
          </div>
          <div class="articles-card">
            <a class="articles-card__image__link" href=""><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
            <div class="articles-card__caption">
              <time class="articles-card__caption__date">2019.01.01</time>
              <a class="articles-card__caption__title__link" href="">
                <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
              </a>
            </div>
            <div class="articles-card__category">
              <a class="articles-card__category__link" href="">記憶に残る体験</a>
            </div>
            <div class="articles-card__author">
              <a class="articles-card__author__link" href="">
                <div class="articles-card__author__group">
                  <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                  <span class="articles-card__author__name">小宮 大輔</span>
                </div>
              </a>
            </div>
          </div>
          <div class="articles-card">
            <a class="articles-card__image__link" href=""><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
            <div class="articles-card__caption">
              <time class="articles-card__caption__date">2019.01.01</time>
              <a class="articles-card__caption__title__link" href="">
                <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
              </a>
            </div>
            <div class="articles-card__category">
              <a class="articles-card__category__link" href="">記憶に残る体験</a>
            </div>
            <div class="articles-card__author">
              <a class="articles-card__author__link" href="">
                <div class="articles-card__author__group">
                  <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                  <span class="articles-card__author__name">小宮 大輔</span>
                </div>
              </a>
            </div>
          </div>
          <div class="articles-card">
            <a class="articles-card__image__link" href=""><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
            <div class="articles-card__caption">
              <time class="articles-card__caption__date">2019.01.01</time>
              <a class="articles-card__caption__title__link" href="">
                <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
              </a>
            </div>
            <div class="articles-card__category">
              <a class="articles-card__category__link" href="">記憶に残る体験</a>
            </div>
            <div class="articles-card__author">
              <a class="articles-card__author__link" href="">
                <div class="articles-card__author__group">
                  <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                  <span class="articles-card__author__name">小宮 大輔</span>
                </div>
              </a>
            </div>
          </div>
          <div class="articles-card">
            <a class="articles-card__image__link" href=""><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
            <div class="articles-card__caption">
              <time class="articles-card__caption__date">2019.01.01</time>
              <a class="articles-card__caption__title__link" href="">
                <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
              </a>
            </div>
            <div class="articles-card__category">
              <a class="articles-card__category__link" href="">記憶に残る体験</a>
            </div>
            <div class="articles-card__author">
              <a class="articles-card__author__link" href="">
                <div class="articles-card__author__group">
                  <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                  <span class="articles-card__author__name">小宮 大輔</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <%- include( 'templates/_pagination' ) %>

      </div>
    </div>

    <%- include( 'templates/_sidebar' ) %>

  </div>
</main>

<%- include( 'templates/_footer' ) %>
