<%- include( 'templates/_header', { page: 'top' } ) %>

<main class="l-wrapper">
  <div class="main-wrapper">
    <div class="primary-wrapper">

      <%- include( 'templates/_breadcrumb' ) %>

      <article class="dictionary">
        <div class="dictionary__eyecatch">
          <img class="dictionary__eyecatch__image" src="./images/seafood-eyecatch.jpg" alt="" />
        </div>
        <div class="dictionary__contents">
          <div class="dictionary__contents__title">
            ヒラマサ（ヒラス）タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。
          </div>

          <%- include( 'templates/_share-button' ) %>

          <div class="dictionary__contents__body">
            <h2 class="dictionary__contents__body__heading">エリア（海水浴場 / 山岳のみ使用）</h2>
            <div class="dictionary__contents__body__description">
              <a class="dictionary__contents__body__description__link" href="tag">下対馬エリア</a> >
              <a class="dictionary__contents__body__description__link" href="tag">美津島町</a> >
              <a class="dictionary__contents__body__description__link" href="tag">雞知</a>
            </div>
            <h2 class="dictionary__contents__body__heading">特徴</h2>
            <div class="dictionary__contents__body__description">
              ブリとの見分け方は、
            </div>
            <h2 class="dictionary__contents__body__heading">住所（海水浴場 / 山岳のみ使用）</h2>
            <div class="dictionary__contents__body__description">
              <div class="dictionary__contents__body__description__address">長崎県対馬市美津島町雞知</div>
              <iframe class="dictionary__contents__body__description__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13187.730314092669!2d129.32613325397955!3d34.27577141797817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeaf52393709b762e!2z576O5rSl5bO255S65rW35rC05rW05aC0!5e0!3m2!1sja!2sjp!4v1544429831382" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <h2 class="dictionary__contents__body__heading">分類（動植物 / 魚介のみ使用）</h2>
            <div class="dictionary__contents__body__description">
              スズキ目アジ科ブリ属
            </div>
            <h2 class="dictionary__contents__body__heading">分布（動植物 / 魚介のみ使用）</h2>
            <div class="dictionary__contents__body__description">
              北海道南部以南
            </div>
            <h2 class="dictionary__contents__body__heading">よく釣れる時期（魚介の魚のみ使用）</h2>
            <div class="dictionary__contents__body__description">
              4〜12月頃
            </div>
            <h2 class="dictionary__contents__body__heading">注意事項（魚介のみ使用）</h2>
            <div class="dictionary__contents__body__description">

            </div>
          </div>

          <%- include( 'templates/_share-button' ) %>

        </div>
      </article>

      <%- include( 'templates/_related-articles' ) %>

    </div>

    <%- include( 'templates/_sidebar' ) %>

  </div>
</main>

<%- include( 'templates/_footer' ) %>
