<%- include( 'templates/_header', { page: 'top' } ) %>

<main class="l-wrapper">
  <div class="main-wrapper">
    <div class="primary-wrapper">

      <%- include( 'templates/_breadcrumb' ) %>

      <div class="writer">
        <div class="writer__icon">
          <img class="writer__icon__image" src="./images/komiya-icon.jpg" alt="" />
        </div>
        <div class="writer__name">小宮 大輔</div>
        <div class="writer__sns">
          <ul class="writer__sns__list">
            <li class="writer__sns__list__item"><a class="writer__sns__list__item__link" href="https://twitter.com/daisuke1120" target="_blank"><img class="writer__sns__list__item__image" src="/images/sns-icon/twitter_black.png" alt="Twitter" /></a></li>
            <li class="writer__sns__list__item"><a class="writer__sns__list__item__link" href="https://www.instagram.com/daisuke538/" target="_blank"><img class="writer__sns__list__item__image" src="/images/sns-icon/instagram_black.png" alt="Instagram" /></a></li>
            <li class="writer__sns__list__item"><a class="writer__sns__list__item__link" href="https://www.facebook.com/daisuke538" target="_blank"><img class="writer__sns__list__item__image" src="/images/sns-icon/facebook_black.png" alt="Facebook" /></a></li>
            <li class="writer__sns__list__item"><a class="writer__sns__list__item__link" href="https://note.mu/daisuke538" target="_blank"><img class="writer__sns__list__item__image" src="/images/sns-icon/website_black.png" alt="Website" /></a></li>
          </ul>
        </div>
        <div class="writer__profile">
          プロフィールが入ります。プロフィールが入ります。プロフィールが入ります。プロフィールが入ります。プロフィールが入ります。
          プロフィールが入ります。プロフィールが入ります。プロフィールが入ります。プロフィールが入ります。プロフィールが入ります。
        </div>
      </div>

      <%- include( 'templates/_related-articles' ) %>

    </div>

    <%- include( 'templates/_sidebar' ) %>

  </div>
</main>

<%- include( 'templates/_footer' ) %>
